.advantage__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.advantage__item {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 4);
  }
}

.advantage__list-icon {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 480px) {
    text-align: start;
  }
}

.advantage__text {
  line-height: 1.71;
  color: var(--second-color);
  margin-bottom: 30px;
}
