// .advantage__list {
//   display: flex;
//   justify-content: space-between;
// }

.advantage__item {
  width: 270px;
}

.advantage__list-icon {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.advantage__icon {
  width: 65px;
  height: 70px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage__text {
  line-height: 1.71;
  color: var(--second-color);
}
