header {
  border-bottom: 1px solid #ececec;
  height: 60px;
  @media screen and (min-width: 480px) {
    height: 80px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  @media screen and (min-width: 480px) {
    height: 79px;
  }
}
.header-nav {
  background: var(--header-background);
  display: flex;
  align-items: center;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
  display: block;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.header-logo-span {
  color: var(--logo-span);
}

.site-nav {
  display: flex;
  & .site-nav-list:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  display: block;
  position: relative;
}

.site-nav .link.current {
  color: var(--accent);
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.contact-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.nav-mail {
  padding-bottom: 10px;
}

.contact-nav a {
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--second-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .header-mail:hover &,
  .header-mail:focus & {
    fill: var(--accent);
  }
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-right: 50px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--second-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .header-tel:hover &,
  .header-tel:focus & {
    fill: var(--accent);
  }
}
