:root {
    --accent: #2196f3;
    --main-color: #212121;
    --second-color: #757575;
    --main-background: #f5f4fa;
    --second-background: #2f303a;
    --logo-span: #000;
    --footer-logo-span: #ffffff;
    --header-background: #ffffff;
    --text-color: #ffffff;
    --btn-hover: 188CE8;
    --portfolio-background: #ffffff;
    --logo-color: #afb1b8;
  }